.feed{
    flex:0.5;
    margin: 20px;
    position: relative;
}
.feed_option{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border:1px solid lightgray;
    border-radius: 10px;
}
.feed_container{
    display: flex;
   gap:5px;
    align-items: center;
    padding:10px 15px;
}
.empty_post_error{
    color: red;
    position: absolute;
    animation: message 3s forwards 1;
}
@keyframes message {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.feed_options{
    display: flex;
    flex-direction: column;
}
.feed_avatar{
    width: 40px;
    height: 40px;
}
.feed_input{
    /* border:1px solid lightgray; */
    border-radius: 50px;
    color:gray;
    display: flex;
    height:40px;
    width: 100%;

}
.feed_input > form{
    display: flex;
    width: 100%;
}
.feed_input input{
    border:1px solid lightgray;
    flex:1;
    font-weight: 500;
    font-size: 16px;
    outline-width: 0;
    border-radius: 50px;
    padding-left: 15px;
}

.feed_input input::placeholder{
    color:gray;
    font-weight: 600;
}
.feed_input button{
    display: none;
}
.feed_options{
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
margin: 10px 0 15px;

}
.feed_gallery{
    display: flex;
    gap:5px;
    align-items: center;
  cursor: pointer;
}
.feed_gallery:hover{
    background-color: whitesmoke;
    border-radius: 10px;
}
.feed_gallery >p{
    font-weight: 600;
    font-size: 14px;
    color: gray;
}
#image-upload {
    display: none;
  }

  @media screen and (max-width:1050px) {
    .feed{
        flex:0.5;
        margin: 25px 5px;
        
    }
}

