.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgrey;
  padding: 5px 0;
  width: 100%;
  z-index: 999;
  background-color: #fff;
}
.header_left {
  display: flex;
}
.header_left > img {
  object-fit: contain;
  height: 40px;
  margin-right: 10px;
}

.header_search {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  color: gray;
  background-color: #eef3f8;
}

.header_search > input {
  outline: none;
  border: none;
  background: none;
}
.header_right {
  display: flex;
}
.logout_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.logout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;

  border: none;
}
/* .logout-btn:hover {
  cursor: pointer;
} */
.logout_container:hover::before {
  content: "Logout";
  display:block;
  position:absolute;
  top: 30%;
  left:65%;
 
  padding: 5px 10px;
  background-color: #f1f1f1;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Hide the pop-up box by default */
.logout_container::before {
  content: "";
  display: none;
}

.toggle_container {
  display: none;
}

/* view port 850px */

@media screen and (max-width: 850px) {
  .header_search {
    display: none;
  }
  .logout_container:hover::before {
    top: 120%;
    left:-45%;
   
  }
}
@media screen and (max-width: 550px) {
  .header {
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0;
  }
  .header_left {
    margin-left: 10px;
  }
  .toggle_menucontainer {
    margin-right: 20px;
  }
  .toggleIcon {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .header_opt {
    display: none;
  }
  .header_right {
    display: none;
  }
  .toggle_container {
    display: block;
  }
  .smallMenu__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
  }
  .small_conitaner > img {
    font-size: 15px;
  }
}
