.sidebar_container{
    top:80px;
    position: sticky;
    flex:0.2;
    border-radius: 10px;
    height: fit-content;
    margin: 20px;
}
.sidebar_top{
display: flex;
flex-direction: column;
border-bottom: 0;
border-top: 1px solid lightgray;
border-left: 1px solid lightgray;
border-right: 1px solid lightgray;
background-color: #fff;
align-items: center;
border-radius: 10px 10px 0 0;
}
.sidebar_top > img{
    width: 100%;
    height: 60px;
    border-radius:15px 15px 0 0;
    margin-bottom: -20px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
.sidebar_avatar{
    margin-bottom: 10px;
    width: 10px;
    height: 100px;
}
.sidebar_top>h2{
font-size: 18px;
font-weight: 500;
text-transform: capitalize;
}
.sidebar_top>h4{
    font-size: 12px;
    color:gray;
    font-weight: 400;
    margin: 10px;
}
.sidebar_stats{
border:1px solid lightgray;
background-color: #fff;
padding:10px;
}
.sidebar_stat{
 margin-top: 10px;
 display: flex;
 justify-content:space-between;
 

}
.sidebar_stat > p{
    color: gray;
    font-size: 13px;
    font-weight: 600;
    
}
.sidebar_statNumber{
font-weight: bold;
color:#0a66c2 !important;

}
.sidebar_extras{
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    padding:10px;
    align-items: center;
    display: flex;
}
.sidebar_extra_icon
{
color: rgba(0, 0, 0,0.6);

}
.sidebar_extras > span{
    font-weight: 600;
    font-size: 15px;
    margin-left: 5px;
}

@media screen and (max-width:1050px) {
    .sidebar_container{
        margin: 10px;
    }
}
@media screen and (max-width:850px) {
    .sidebar_container{
        position: static;
    }
}

