.register_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.register_form_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  /* background-color: #f3f2ef; */
  border-radius: 10px;
  text-align: center;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
form > input {
  margin: 2px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

form > input:focus {
  outline: none;
}

form > button {
  margin-top: 5px;
  background-color: #0a66c2;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
}
.register_form_container > p {
  margin-top: 5px;
  left: 5px;
  font-size: 14px;
  color: #0a66c2;
}
.register_form_container p {
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.error_message {
  margin-top: 100px;
  color: red;
  text-align: center;
}
